.banner {
  height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url(../img/bg-download.png) center repeat;
}
.banner h1 {
  color: #333;
  font-size: 48px;
}
.banner h2 {
  color: #666;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px;
}
.banner a {
  display: inline-block;
  width: 275px;
  height: 60px;
  line-height: 60px;
  background: #0074EA;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 45px;
}
.edition {
  width: 750px;
  margin: 0 auto;
  padding: 50px 0 0;
  line-height: 2em;
}
.edition h3 {
  color: #333;
  font-size: 24px;
}
.edition h4 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
}
.edition a {
  display: block;
  width: 158px;
  height: 44px;
  line-height: 44px;
  background: #0074EA;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 14px 0;
}
.edition p {
  line-height: 1.8;
  font-size: 14px;
  color: #666;
}
.edition .item {
  margin-bottom: 50px;
}
.edition-more {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 50px 0;
  margin-top: -50px;
  line-height: 1;
  cursor: pointer;
}
.edition-more span,
.edition-more svg {
  vertical-align: middle;
}
